mixin header
	.top-bar.page-inset
		.container-fluid.px-0
			.row.justify-space-between.align-items-center
				.col-lg-6.order-2.order-lg-1
					h1.h4.page-title.mb-0 Dashboard
				.col-lg-6.order-1.order-lg-2
					.header-controls
						a(href='#0')
							i.material-icons search
						a(href='#0')
							i.material-icons notifications
						a(href='#0')
							i.material-icons account_circle
						a(href='#0')
							i.material-icons comment
							