extends _main.pug

block title
	| Table of Contents
	
	
block content
	+sidenav
	+header
	
	.page-content.page-inset
		.inner-content
		
			h2.page-heading Welcome, Adam!
			.section
				.section-title 
					h4.section-heading Section Title
					.section-title-link-stack
						a(href='#0') Make Update
						a(href='#0') Manage
				
				
				.content-box
					.content-box-header
						h5.content-box-title Box without elevation
					.content-box-body
						p Regular Text Sample. Sed at ex id enim porttitor malesuada. Vivamus nec dapibus nisl. Mauris et faucibus ex, quis accumsan lectus. Nam et neque consequat, posuere sapien interdum, porttitor neque. Cras varius mollis nulla, lacinia sodales dui tempor ut. Vivamus nisi ex, iaculis vitae semper eget, imperdiet sit amet dolor. Nullam tempor viverra elit, eu sodales neque convallis quis. Sed venenatis sodales orci eget mollis.
							
				.content-box.elevation-1
					.content-box-header
						h5.content-box-title Box elevation 1
					.content-box-body
						p.text-muted Muted Text Sample. Cras eget ipsum sit amet augue mattis malesuada. Nam sit amet dolor nec erat dignissim tincidunt in quis lorem. Aliquam eu placerat nulla. Morbi in libero sit amet nulla condimentum ullamcorper. Aliquam placerat dui nec consequat congue.
				
				.content-box.elevation-2
					.content-box-header
						h5.content-box-title Box elevation 2
					.content-box-body
						p.text-secondary Secondary Text Sample. Mauris et faucibus ex, quis accumsan lectus. Nam et neque consequat, posuere sapien interdum, porttitor neque. Cras varius mollis nulla, lacinia sodales dui tempor ut. Vivamus nisi ex, iaculis vitae semper eget, imperdiet sit amet dolor. Nullam tempor viverra elit, eu sodales neque convallis quis.
				
				.content-box.elevation-3
					.content-box-header
						h5.content-box-title Box elevation 3
					.content-box-body
						p.text-md Medium Text Sample
						p.text-sm Small Text Sample
				
			.section
				.section-title 
					h4.section-heading Table Sample
					.section-title-link-stack
						a(href='#0') Make Update
						a(href='#0') Manage
				
				.content-box.elevation-3
					.content-box-nav
						ul.nav.justify-content-end.text-md
							li.nav-item
								a.nav-link.active(href='#') 
									i.material-icons date_range  
									|  Active
							li.nav-item
								a.nav-link(href='#')
									i.material-icons vertical_align_bottom 
									|  Export
						
						
					
					.content-box-table.text-md
						.table-responsive
							table.table.table-striped
								thead
									tr
										th(scope='col') #
										th(scope='col') First
										th(scope='col') Last
										th(scope='col') Handle
								tbody
									tr
										th(scope='row') 1
										td Mark
										td Otto
										td @mdo
									tr
										th(scope='row') 2
										td Jacob
										td Thornton
										td @fat
									tr
										th(scope='row') 3
										td Larry
										td the Bird
										td @twitter
				
				.content-box.elevation-3
					.content-box-nav
						ul.nav.justify-content-end.text-md
							li.nav-item
								a.nav-link.active(href='#') 
									i.material-icons date_range  
									|  Active
							li.nav-item
								a.nav-link(href='#')
									i.material-icons vertical_align_bottom 
									|  Export
						
						
					
					.content-box-table.text-md
						.table-responsive
							table.table.table-striped
								thead
									tr
										th(scope='col') Location Name
										th(scope='col') Type
										th(scope='col') Ad Sites
										th(scope='col') Display Fixtures
								tbody
									tr
										td
											.fw-500 Location Number 01
											.text-muted 24 Strehlgasse, 8001, Zürich, Zürich
										td Restaurant
										td 5
										td 13
									tr
										td
											.fw-500 Location Number 01
											.text-muted 24 Strehlgasse, 8001, Zürich, Zürich
										td Restaurant
										td 5
										td 13
									tr
										td
											.fw-500 Location Number 01
											.text-muted 24 Strehlgasse, 8001, Zürich, Zürich
										td Restaurant
										td 5
										td 13
					
					

						
						
						
		.inner-sidebar
			.section
				.section-title 
					h4.section-heading Assets
					.section-title-link-stack
						a(href='#0') Manage
					
				.content-box.elevation-2
					.content-box-header
						h5.content-box-title Box elevation 2
					.content-box-body
						p.text-secondary Secondary Text Sample. Mauris et faucibus ex, quis accumsan lectus. Nam et neque consequat, posuere sapien interdum, porttitor neque. Cras varius mollis nulla, lacinia sodales dui tempor ut. Vivamus nisi ex, iaculis vitae semper eget, imperdiet sit amet dolor. Nullam tempor viverra elit, eu sodales neque convallis quis.
				
				
		